Cython
pydub
accelerate # for low_cpu_memory usage
fastapi~=0.95
uvicorn~=0.22
requests~=2.30
transformers
gradio
soundfile
librosa # to segment the audio and delete the noize 

fasttext==0.9.1
ffmpeg<5